/*
 * MARKET CSS CLASS
*/

body {
	font-size: 16px;
}

#sidebar, #main { /* Testing */
	text-align: center;
	padding-top: 45px;
	/*border: 1px solid black;*/
}

#sidebar {
	padding-top: 35px;
}

#sidebarHeader {
	width: 100%;
}

#sidebarHeader a {
	color: white;
}

.chatGroup {
	font-size: 20px;
	padding-bottom: 20px;
}

.chatGroup button {
	width: 100%;
	font-size: .75em;
	/*white-space: normal;*/

}

.imageLink {
	text-align: center;
}

.imageLink img {
	display: block;
}

.imageLink a:hover {
	text-decoration: none;
}

#views button {
	font-size: 1.5em;
	width: 100%;
	margin-bottom: 10px;
	/*white-space: normal;*/
}

#pageViewTitle {
	padding-bottom: -10px;
}

/* VIEWS */
#listings {

}
#listings button {
	font-size: 0.75em;
	width: 100%;
	margin-bottom: 10px;
	/*white-space: normal;*/
}

#modal-phone-buttons {
	display: inline-block;
}

#enterPhoneNumForm {
	text-align: right;
}

#enterPhoneNumForm {
	font-size: ;
}

input[type=text] {
	height: 2.25em;
}