/* TOP OF PAGE */

.title {
	font-family: 'Bitter', serif;
	font-size: 48px;
}

#top {
	margin-bottom: 25px;
}

/* BOTTOM OF PAGE */

#footerContiner {
	/*margin-top: 50px;*/
}

footer {
	color: white;
}

/* PAGE */

#topContainer {
	background: rgba(255, 255, 255, 1);
	margin-top: 25px;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	/*background-image: url('/FirstDraft/web/assets/img/footer_lodyas.png');*/
}
